.brdashboard {
  text-align: center;
  padding: 20px;
}

.button-grid {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.button-grid button {
  padding: 15px 25px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  cursor: pointer;
  border-radius: 6px;
}

.button-grid button:hover {
  background-color: #e0e0e0;
}
